/.bash_history
/.bash_logout
/.bashrc
/.cache
/.config
/.gitconfig
/.landscape
/.local
/.motd_shown
/.profile
/.sudo_as_admin_successful
/.vscode-server
/.wget-hsts
/AutoComp.py-oauth2.json
/TestFile.mp4
/TestFile2.mp4
/TestFinal.mp4
/client_secret_68560296238-sfieo7v0cdnoi09e0923qtlujjtqb1ea.apps.googleusercontent.com.json
/client_secret_68560296238-sfieo7v0cdnoi09e0923qtlujjtqb1ea.apps.googleusercontent.com.json:Zone.Identifier